pandas>=2.1
numpy>=1.26
torch>=2.2
transformer-lens>=1.8.0
hydra-core>=1.3
omegaconf>=2.3
tqdm>=4.66
scikit-learn>=1.4
mrmr-selection>=0.2.8
matplotlib>=3.8
wandb>=0.16
pyarrow>=14.0
scipy>=1.11
optuna>=3.0
