data:
  input_csv: "/files/datasets/political_leaning_texts/labeled_propositions.csv"
  activations_file: "data/activations_bignews_l19.csv"

extraction:
  batch_size: 8
  layers: [19]
  device: "cuda" # or "cpu"
  max_length: 1024

training:
  test_size: 0.4
  random_state: 42
  kernel: "rbf"
  image_file: "svc_decision_boundary.png"
  class_weight: "balanced"

feature_selection:
  enabled: true
  selectkbest_k: 1000  # Number of features to keep with SelectKBest (pre-filter before MRMR)
  prefilter: "f_classif"
  n_features: 50  # Number of features to select with MRMR
  method_mrmr: "MIQ"   # MIQ (MID) or MID

likert:
  questions_csv: "likert/questions_anderson.csv"
  language: "pt" # or "en"
  use_chat_format: true
  max_new_tokens: 10
  temperature: 0.0
  experiment_name: null
  activation_multipliers: {
    "layer_15-neuron_1215": -3.7820,
    "layer_18-neuron_3629": 4.7488,
    "layer_16-neuron_2807": -2.1068,
    "layer_12-neuron_3994": 2.5707,
    "layer_14-neuron_1829": 4.8209,
    "layer_15-neuron_2895": 1.1620,
    "layer_23-neuron_1990": -1.0363,
    "layer_15-neuron_1659": 0.9364,
    "layer_13-neuron_588": -1.3023,
    "layer_16-neuron_122": -0.0137,
    "layer_15-neuron_2470": -0.0672,
    "layer_20-neuron_2212": 0.5960,
    "layer_21-neuron_2212": -2.5990,
    "layer_13-neuron_39": -2.0669,
    "layer_14-neuron_3796": 1.9996,
    "layer_16-neuron_2471": -4.4679,
    "layer_14-neuron_2058": -3.9070,
    "layer_15-neuron_2058": 1.4663,
    "layer_16-neuron_2058": -5.0249,
    "layer_17-neuron_2058": 0.9378,
    "layer_18-neuron_2058": -1.4042,
    "layer_19-neuron_2058": 0.0203,
    "layer_20-neuron_2058": 2.5221,
    "layer_21-neuron_2058": 0.2974,
    "layer_22-neuron_2058": 0.0436,
    "layer_23-neuron_2058": -5.5165,
    "layer_24-neuron_2058": 1.9478,
    "layer_25-neuron_2058": 0.3321,
    "layer_26-neuron_2058": -0.6567,
    "layer_27-neuron_2058": 2.9536,
    "layer_28-neuron_2058": -1.4498,
    "layer_29-neuron_2058": 4.0114,
    "layer_30-neuron_2058": -1.7862,
    "layer_15-neuron_1829": -2.1693,
    "layer_14-neuron_805": -3.7700,
    "layer_15-neuron_1886": -3.9382,
    "layer_15-neuron_41": 0.7704,
    "layer_13-neuron_1611": 3.8384,
    "layer_13-neuron_3564": -0.5860,
    "layer_18-neuron_2212": 2.6730,
    "layer_13-neuron_3819": 0.4025,
    "layer_16-neuron_2145": 5.1102,
    "layer_30-neuron_341": -5.1437,
    "layer_10-neuron_3366": -2.4105,
    "layer_10-neuron_3086": 2.0648,
    "layer_13-neuron_977": -3.8959,
    "layer_20-neuron_3356": -5.4480,
    "layer_13-neuron_1913": 1.6309,
    "layer_30-neuron_231": 1.1547,
    "layer_10-neuron_4018": -4.9262,
    "layer_21-neuron_3491": -1.8024,
    "layer_29-neuron_3398": 2.9961,
    "layer_21-neuron_2706": -1.7302,
    "layer_15-neuron_940": 2.5096,
    "layer_22-neuron_1455": 1.4263,
    "layer_18-neuron_2836": 5.2184,
    "layer_29-neuron_3685": 3.4126,
    "layer_28-neuron_792": -1.4094,
    "layer_17-neuron_77": -3.7706,
    "layer_9-neuron_3366": 1.3744,
    "layer_12-neuron_2815": 4.4747,
    "layer_13-neuron_1722": -4.9568,
    "layer_12-neuron_2699": -4.4248,
    "layer_16-neuron_973": 0.6100,
    "layer_31-neuron_231": 4.1215,
    "layer_14-neuron_297": 3.1004,
    "layer_22-neuron_1047": 2.5261,
    "layer_14-neuron_1553": 2.4175,
    "layer_16-neuron_77": 5.2879,
    "layer_24-neuron_1455": -0.9486,
    "layer_31-neuron_341": 5.3357,
    "layer_24-neuron_2406": 0.4383,
    "layer_18-neuron_2788": -4.5767,
    "layer_23-neuron_1455": 0.6454,
    "layer_18-neuron_4007": 3.5187,
    "layer_11-neuron_3466": -4.2014,
    "layer_22-neuron_2057": 4.0664,
    "layer_19-neuron_1485": -4.2303,
    "layer_16-neuron_1047": -4.0833,
    "layer_14-neuron_2895": -0.1227,
    "layer_31-neuron_2058": -0.1328,
    "layer_13-neuron_2815": 1.2902,
    "layer_19-neuron_3307": -2.0038,
  }
hydra:
  run:
    dir: runs/${now:%Y-%m-%d}/${now:%H-%M-%S}

wandb:
  project: "activation-bias-classifier"
  run_name: null